<script src="JS/dashboard.js"></script>
<div id="bodyDiv">
	<div id="tabDiv">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#/"><span class="glyphicon glyphicon-globe"></span> Dashboard</a></li>
			<li role="presentation"><a href="#/viewAllTeams"><span class="glyphicon glyphicon-list-alt"></span> View All Teams</a></li>
			<li role="presentation"><a href="#/viewAllProjects"><span class="glyphicon glyphicon-list"></span> View All Projects</a></li>
			<li role="presentation"><a href="#/viewAllMembers"><span class="glyphicon glyphicon-user"></span> View All Team Members</a></li>
		</ul>		
	</div>
	<div id="listContainer">
		<div class="table-responsive" id ="projectListDiv">
			<div class="mainDivsHeader">
				<h3>{{ctrl.problemProjects}}/{{ctrl.projects.length}} Projects Need Attention</h3>				
			</div>
			<div class="tableDiv">
				<table class="table">
					<tr><th>Name</th><th>Deadline</th><th>Project Health</th><th>Priority</th><th>Actions</th></tr>
					<tr ng-repeat="project in ctrl.projects" ng-if="project.project_health < 100 && ctrl.today < project.deadline" ng-style="ctrl.changeColor(project.project_health)">
						<td>
							<span class="projectlink" ng-click="ctrl.viewProject(project.id)" title="View {{project.name}}">{{project.name}}</span>
						</td>
						<td>{{project.deadline | date:'MM/dd/yyyy'}}</td>
						<td>
							<progress max="100" value="{{project.project_health}}" ng-style="ctrl.changeColor(project.project_health)"></progress>
							<label>{{project.project_health}}%</label>
						</td>
						<td>{{project.priority}}</td>
						<td>
							<div class="btn-group">
								<button class="btn btn-default" title="Update {{project.name}}" ng-click="ctrl.openProjUpdModal(project.id)" data-toggle="modal" data-target="#updateProjModal">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button class="btn btn-info" title="Add a Comment to {{project.name}}" data-toggle="modal" data-target="#notes" ng-click="ctrl.openNotesModal(project.id)">
									<span class="glyphicon glyphicon-comment"></span>
								</button>
								<button class="btn btn-primary" title="Send email to project team" data-toggle="modal" data-target="#sendEmailModal">
									<span class="glyphicon glyphicon-envelope"></span>
								</button>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
		<div id="chartContainer"></div>
	</div>
	<div id="calendarDiv">
		<div id="calendar"></div>
	</div>
	<!-- Notes Modal -->
	<div class="modal fade" id="notes" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">Notes for Project1: {{ctrl.projectObj.name}}</h4>
				</div>
				<div class="modal-body">
				<!-- <textarea class="form-control" id="popupNoteInput" rows="5"ng-model="ctrl.note"></textarea> -->
						<br>
				<form name="stringForm" novalidate>
				<span class="requiredflag">*</span>
				<span ng-show="stringForm.noten.$error.pattern" style="color:red">Enter only words or numbers.</span>
				<span class="error" ng-show="stringForm.noten.$error.required && stringForm.noten.$dirty">(Required field)</span>
					<textarea class="form-control" ng-model="ctrl.note" name="noten" ng-pattern="ctrl.regex1" placeholder='Enter note here' id="popupNoteInput" rows="5" required></textarea>

					<!-- <input type="text" ng-model="number" name="number" ng-pattern="RE" /><br /> "required" is all that is needed to prevent space entry-->
            
					<br>
						<div style="text-align:center">
						<!-- <input type="submit" value = "Add Note" stringForm.noten.$valid && -->
						<button class="btn btn-info" id="addNoteBtn" 
						ng-click="ctrl.addProjNote(ctrl.note, ctrl.projectObj.id); ctrl.note=null">Add Note1</button>
					</form>
						<!-- <button class="btn btn-info" id="addNoteBtn" ng-click="ctrl.addProjNote(ctrl.note, ctrl.projectObj.id); ctrl.note=null">Add Note</button> -->
						<button class="btn btn-info" id="clear">Clear</button>
					</div>
				</div>
				<div id="noteHistory" class="modal-footer" style="text-align:center">
					<div id="historyItem" ng-repeat="note in ctrl.notes | orderBy:'':true track by (note.time_stamp + $index)">
						<p style="text-decoration: underline">{{note.time_stamp | date:'MMM dd, yyyy, h:mm a'}}</p>
						<p>{{note.message}}</p>
						<button class="btn btn-danger" ng-click="ctrl.deleteNote(note.id)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						<button class="btn" 
						ng-class="{true: 'btn-danger', false: 'btn-default'}[note.flagged==1]"
						ng-click="ctrl.flagProblem(note)"><span class="glyphicon glyphicon-flag"></span>{{((note.flagged==1) && 'Problem!!!')|| 'Unflagged' }}</button>
						<button class="btn" ng-class="{true: 'btn-warning', false: 'btn-default'}[note.resolved==1]" ng-click="ctrl.completeNote(note)"><span class="glyphicon glyphicon-earphone"></span>{{(note.resolved==1) && 'Follow-up!'|| 'Complete' }}</button>
						<!-- <button ng-click='activity.seen = !activity.seen'>
        <span>{{activity.seen ? 'Mark unread' : 'Mark read'}}</span>
    </button> ng-model="text" placeholder="Note goes here"  ng-pattern="regex1"-->
						<!--  <button ng-click="ctrl.updateNote(note)" class="btn btn-info">Save</button> -->
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
	<!-- UpdateProject Modal -->
	<div class="modal fade" id="updateProjModal" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">Update {{project.description}}</h4>
				</div>
				<div class="modal-body">
				<label>ID</label>
				&nbsp;<input id="project-id" size="3" disabled />
				<br>
				<form name="updateproject">
					<label><span class="requiredflag">*</span> Project Name </label><span class="error" ng-show="updateproject.uprojectname.$error.required && updateproject.uprojectname.$dirty">(Required field)</span>
					<input id="project-name" name="uprojectname" ng-model="ctrl.projectObj.name" class="form-control" type="text" required></input>
					<label>Description</label>
					<textarea id="project-description" ng-model="ctrl.projectObj.description" class="form-control" rows="5"></textarea>
					<label><span class="requiredflag">*</span> Team</label>
					<select class="form-control" id="team-select" name="team-select" ng-model="ctrl.projectObj.team_id" required>
						<option ng-repeat="team in ctrl.teams" value={{team.id}}>{{team.description}}</option>
					</select>
					<label>Priority</label>
					<select id="project-priority" ng-model="ctrl.projectObj.priority" class="form-control">
						<option value="">Choose a Priority</option>
						<option value=1>Low</option>
						<option value=2>Normal</option>
						<option value=3>High</option>
						<option value=4>Critical</option>
					</select>
					<label>Start Date</label>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type="text" min="" class="form-control" id="datepickerSD" placeholder="Select a date"></input>
					</div>
					<label>Deadline</label>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type="text" min="" class="form-control" id="datepickerD" placeholder="Select a date"></input>
					</div>
					<label>Status</label>
					<select id="project-status" ng-model="ctrl.projectObj.status" class="form-control">
						<option value="">Choose a Status</option>
						<option value=0>Inactive</option>
						<option value=1>Active</option>
						<option value=2>Completed</option>
					</select>
					<label>Phase</label>
					<select id="project-phase" ng-model="ctrl.projectObj.phase" class="form-control">
						<option value="">Choose a Phase</option>
						<option value="Planning and Analysis">Planning and Analysis</option>
						<option value="Requirements">Requirements</option>
						<option value="Development">Development</option>
						<option value="Testing and Validation">Testing and Validation</option>
						<option value="Integration">Integration</option>
						<option value="Production">Production</option>
					</select>
					<label>Work Remaining</label>
					<input id="project-work" ng-model="ctrl.projectObj.work_remaining" class="form-control" type="text"></input>
				</form>
				<br>
				<button class="btn btn-default" ng-click="ctrl.updateProject()" ng-disabled="!updateproject.uprojectname.$pristine && updateproject.uprojectname.$error.required">Update Project</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
	<!-- ViewProject Modal -->
	<div class="modal fade" id="viewProjModal" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">View Project </h4>
				</div>
				<div class="modal-body">
					<label>ID</label>
					&nbsp;<input id="project-id2" size="3" disabled />
					<br>
					<label>Project Name</label>
					<input id="project-name2" class="form-control" type="text" disabled></input>
					<label>Description</label>
					<textarea id="project-description2" class="form-control" rows="5" disabled></textarea>
					<label>Team</label>
					<select class="form-control" id="team-select2" ng-model="ctrl.projectObj.team_id" disabled>
						<option value="">Choose a Team</option>
						<option ng-repeat="team in ctrl.teams" value={{team.id}}>{{team.description}}</option>
					</select>
					<label>Priority</label>
					<select id="project-priority2" class="form-control" disabled>
						<option value="">Choose a Priority</option>
						<option value=1>Low</option>
						<option value=2>Normal</option>
						<option value=3>High</option>
						<option value=4>Critical</option>
					</select>
					<label>Start Date</label>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type="date" min="" class="form-control" id="datepickerSD2" placeholder="Select a date"disabled></input>
					</div>
					<label>Deadline</label>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type="date" min="" class="form-control" id="datepickerD2" placeholder="Select a date"disabled ></input>
					</div>
					<label>Status</label>
					<select id="project-status2" class="form-control" disabled>
						<option value="">Choose a Status</option>
						<option value=0>Inactive</option>
						<option value=1>Active</option>
						<option value=2>Completed</option>
					</select>
					<label>Phase</label>
					<select id="project-phase2" class="form-control" disabled>
						<option value="">Choose a Phase</option>
						<option value="Planning and Analysis">Planning and Analysis</option>
						<option value="Requirements">Requirements</option>
						<option value="Development">Development</option>
						<option value="Testing and Validation">Testing and Validation</option>
						<option value="Integration">Integration</option>
						<option value="Production">Production</option>
					</select>
					<label>Work Remaining</label>
					<input id="project-work2" class="form-control" type="text" disabled></input>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
	<!-- SendEmail Modal -->
	<div class="modal fade" id="sendEmailModal" role="dialog" data-backdrop="static">
		<div class="modal-dialog">			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="x">&times;</button>
					<h4 class="modal-title">Send Email </h4>
				</div>
				<div class="modal-body">
					<form>
						<label>Send To</label>
						<input type="email" class="form-control"></input>
						<label>CC (optional)</label>
						<input type="email" class="form-control"></input>
						<label>Message</label>
						<textarea class="form-control" rows="4"></textarea>
						<br>
						<button class="btn btn-primary">Send</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
				</div>
			</div>				
		</div>
	</div>
</div>